<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="Acedemy.Listners"/>
<listener class-name="Recourses.ExtentReporterNG"/>

</listeners>

  <test name="Test Validate Navigation Bar">
    <classes>
      <class name="Acedemy.ValidateNavigationBar"/>
      </classes>
      </test>
      
       <test name="Test HomePage">
    <classes>
      <class name="Acedemy.HomePage"/>
        </classes>
      </test>
      
       <test name="Test Validate Title">
    <classes>
      <class name="Acedemy.ValidatedTitle"/>
        </classes>
      </test>
      
       <test name="Test Apptest page">
    <classes>
      <class name="Acedemy.AppTest"/>
        </classes>
      </test>

</suite> <!-- Suite -->
